h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

:root {
    --dark-primary: #EAE3D2;
    --light-primary: #F9F5EB;
    --dark-secondary: #1C3879;
    --light-secondary: #607EAA;
    --color-highlight: 255, 0, 0;
}

.background {
    background-color: var(--dark-primary);
    height: 100%;
}

.container {
    background-color: var(--light-primary);
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 1rem;
}

button {
    background-color: var(--dark-primary);
    font-size: 1rem;
    color: white;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    min-width: 15%;
}

button:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
    }
}
