img {
    width: 20%;
    height: auto;
    margin-right: 1rem;
}

.card {
    background-color: #F2EFE7;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    margin-top: 1rem;
}

.searchbar {
    background-color: white;
    width: 30%;
    float: right;
    margin: auto;
    margin-right: 0;
    padding: 0.5rem;
}
