.card img {
    width: 20%;
    height: auto;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.card {
    background-color: #F2EFE7;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    margin-top: 1rem;
    text-decoration: none;
}

.card:hover{
    background-color: #E1DED5;
    cursor: pointer;
}

.searchbar {
    background-color: white;
    margin: auto;
    margin-right: 0;
    border : None;
    padding: 0.5rem;
    width: 30%;
    border-radius: 1rem;
    border: 1px 
}

.cardDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}