.add{
    background-color: #F2EFE7;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    margin-top: 1rem;
}

.add button {
    padding: 0.5rem;
}


input {
    border: 1px solid lightgrey;
    border-radius: 0.3rem;
}
