
.navi{
    background-color: #607EAA ;
    min-height: 7vh;
    width: 100%;
    position: flex;
    padding: 0;
}

.navi nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
}

.navi nav .logo {
    margin: .5rem;
}

.navi nav ul {
    list-style: none;
    padding: 0;
}

.navi nav ul li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navi nav ul li a {
    color: white;
    text-decoration: none;
}

.navi a:hover {
    color:blueviolet;
}

.navi .mobile-navi {
    display: none;
}

@media (max-width:600px){
    .navi .desktop-navi {
        display: none;
    }

    .navi .mobile-navi {
        display: flex;
        align-items: center;
    }

    .navi .mobile-navi .hamburger {
        position: absolute;
        top: 1.25%;
        right: 2.5%;
        cursor: pointer;
    }

    .navi .mobile-navi .logo{
        position: flex;
        height: 5vh;
        cursor: pointer;
    }

    .navi nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5vh;
        right: 0;
        width: 100%;
        background-color: #607EAA;
        align-items: center;
    }

}