* {
    box-sizing: border-box;
}

.nav {
    background-color: #607EAA ;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
}

.nav2 {
    background-color: var(--dark-primary);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
}

.home-title{
    font-size: 1.5rem;
    margin: .5rem;
}

.bar-links ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.bar-links li{
    list-style: none;
}

.bar-links li a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.bar-links li:hover{
    background-color: #555;
}
.toggle {
    position: absolute;
    top: 0.85rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;

}

@media (max-width: 600px){
    .toggle {
        display:flex;
    }

    .bar-links{
        display: none;
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .bar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .bar-links li{
        text-align: center;
    }

    .bar-links.active {
        display: flex;
    }
}