.navi{
    background-color: #607EAA ;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
}

.navi nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi nav .logo {
    margin: .5rem;
}

.navi nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navi nav ul li {
    display: inline-block;
    margin: 20px;
}

.navi nav ul li a {
    color: white;
    text-decoration: none;
}

.navi a:hover {
    color:blueviolet;
}

.navi .mobile-navi {
    display: none;
}

@media (max-width:600px){
    .navi .desktop-navi {
        display: none;
    }

    .navi .mobile-navi {
        display: flex;
        align-items: center;
    }

    .navi .mobile-navi .hamburger {
        position: absolute;
        top: 20%;
        right: 2.5%;
        cursor: pointer;
    }

    .navi .mobile-navi .logo{
        position: absolute;
        top: 20%;
        left: 2.5%;
        cursor: pointer;
    }

    .navi nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #607EAA;
        align-items: center;
    }

}